<section id="todo-index">
    <div class="create-todo-row">
        <form action="notes">
            <button class="btn btn-primary" id="create-todo-btn" type="submit">
                Create new todo
            </button>
        </form>
    </div>

    <div class="flex mt-2">
        {{#each sortProperties}}
        <div class="flex-1">
            <form action="/?orderBy={{getItemOfList this 0}}&asc={{neg ../asc}}&filterCompleted={{../filterCompleted}}"
                method="post">
                <button class="btn btn-secondary" type="submit">{{ evalArrow ../orderBy (getItemOfList this 0)
                    ../asc}}{{getItemOfList this 1}}</button>
            </form>
        </div>
        {{/each}}
    </div>

    <div class="flex mt-2">
        <div class="">
            <form action="/?orderBy={{orderBy}}&asc={{asc}}&filterCompleted={{threeStateSwitch filterCompleted}}"
                method="post">
                <button class="btn btn-secondary" type="submit">Filter completed</button>
            </form>
        </div>
        <div class="flex-1">
            {{#if_eq filterCompleted "false"}}
            Filter: <div class="chip">
                not finished todos
            </div>
            {{/if_eq}}
            {{#if_eq filterCompleted "true"}}
            Filter: <div class="chip">
                finished todos
            </div>
            {{/if_eq}}
        </div>
    </div>


    <div class="mt-2">
        {{#if (neg data.length)}}
        No Tasks available.
        {{/if}}
        {{#each data}}
        <article class="flex note-box">
            <div class="flex-1">
                <div class="">
                    {{date this.dueDate}}
                </div>
                <div class="">
                    <input type="checkbox" {{#if finished}}checked{{/if}} disabled>
                </div>
            </div>

            <div class="flex-1">
                {{this.title}}<br>
                {{this.description}}
            </div>

            <div class="flex-1">
                {{this.importance}}
            </div>

            <div class="flex-1">
                <a class="btn btn-primary" href="/notes?id={{this._id}}">Edit</a>
            </div>

            <div class="flex-1">
                <form action="/notes/delete?id={{this._id}}" method="post">
                    <button class="btn btn-warn" type="submit">Delete</button>
                </form>
            </div>
        </article>
        {{/each}}
    </div>
</section>