<section>
    <form action="/" class="no-flex">
        <button class="btn btn-secondary" type="submit">🔙</button>
    </form>
    <form action="" method="post" class="mt-2">
        <div>
            <label for="title-input">Title</label>
            <input id="title-input" required name="title" value="{{title}}" type="text" placeholder="Enter title">
        </div>
        <div>
            <label for="importance-input">Importance</label>
            <input id="importance-input" required value="{{importance}}" name="importance" type="number" min="1" max="5">
        </div>

        <div>
            <label for="due-date-input">Due Date</label>
            <input id="due-date-input" required value="{{date_input dueDate}}" name="dueDate" type="date">
        </div>

        <label for="finished-checkbox">
            <input id="finished-checkbox" {{#if finished}}checked{{/if}} name="finished" type="checkbox">
            Finished
        </label>

        <div>
            <label for="description-input">Description</label>
            <textarea id="description-input" required name="description" rows="5">{{description}}</textarea>
        </div>

        <div class="notes-page-buttons-row button-list">
            <button class="btn btn-primary" type="submit">
                {{#if isNew}}
                Create
                {{else}}
                Update
                {{/if}}
            </button>
        </div>
    </form>

</section>